/*-----------------
VARIABLES
-------------------
*/
$h1-size: 45px;
$h2-size: 30px;
$section-heading-size: 35px;

$underline-color: #277455;

$button-primary-color: #277455;
$button-hover-color: #003A23;
$button-text-color: #ffffff;

$section-padding: 45px;
$column-padding: 15px;

$bottom-margin: 25px;


/*-----------------
ELEMENTS RESET
-------------------
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----------------
GLOBAL STYLINGS
-------------------
*/
html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
    box-shadow: -10px 10px 20px #000000, 10px 10px 20px #000000;
    max-width: 1900px;
    margin: 0 auto;
    font-family: sans-serif;
}
section{
    padding: $section-padding;
    opacity: .1;
    transition: .7s;
}
h1{
    margin-bottom: $bottom-margin;
}
p{
    margin-bottom: $bottom-margin;
    font-size: 18px;
    line-height: 1.5;
}

/*-----------------
SECTIONS
-------------------
*/
#hero{
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    min-height: 300px;
    text-transform: capitalize;
    opacity: 1;


    & video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    & .overlay{
        position: absolute;
        color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        //align-items: center;
        flex-direction: column;
        padding: $section-padding;

        & h1{
            font-size: $h1-size;
            margin-bottom: 0;
        }

        & h2{
            font-size: $h2-size;
            margin-bottom: 15px;
        }
    }
}

#profile{
    padding: $section-padding;
    //background-color: #f3f3f3;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;

    & .row{
        display: flex;
        justify-content: space-between;

        & .column{
            width: 48%;
            //background: red;
            padding: $column-padding;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            & img{
                width: 80%;
                max-width: 300px;
            }
    
            & h1{
                font-size: $h2-size;
                text-transform: capitalize;
            }
        }

        & .column:nth-child(2){
            align-items: flex-start;
        }
    }
    
}

#toolbox{
    
    & .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & img{
            width: 25%;
            margin-bottom: $bottom-margin;
            padding: 15px;
            max-width: 200px;
            position: relative;
            transition: .5s;
            top: 0px;

            // &:hover{
            //     top: -15px;
            // }
        }

        // & img:nth-child(1){
        //     animation: move1 1s infinite;
        // }
    }

    & .row:nth-child(5){
        justify-content: center;
    }
}

#portfolio{
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: $section-padding;
    color: #fff;
    overflow: hidden;

    & .row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .flip-card {
            background-color: transparent;
            width: 30%;
            height: 450px;
            perspective: 1000px;
        }
        
        & .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            border-radius: 5px;
            box-shadow: 10px 1px 8px 0 rgba(0,0,0,0.2);
        }
        
        & .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        & .flip-card-back{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        & .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 5px;
        }
        
        & .flip-card-front {
            background-color: #fff;
            color: black;

            & img.main-image{
                width: 100%;
                margin-bottom: 15px;
                border-radius: 5px 5px 0 0;
            }

            & img.icon{
                width: 30px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & h1{
                font-size: 20px;
                margin-bottom: 10px;
            }

            & h2{
                font-size: 18px;
            }

            & p{
                color: #666666;
                padding: 15px;

                & span{
                    font-weight: bold;
                }
            }
        }
        
        & .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
        }
    }

        
}

/*-----------------
INDIVIDUAL ELEMENTS
-------------------
*/
.section-heading{
    font-family: sans-serif;
    font-size: $section-heading-size;
    margin-bottom: 0;
    text-transform: capitalize;
}
.underline{
    height: 3px;
    width: 50px;
    background-color: $underline-color;
    margin-bottom: 45px;
}
.button{
    width: 150px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: $button-primary-color;
    color: $button-text-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: .5s;
    font-family: sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    position: relative;
    z-index: 41;
    border-radius: 5px;

    &:hover{
        background-color: $button-hover-color;

        &::after{
            transform: scale(1.5);
            opacity: 0;
        }
    }
    &::after{
        content: '';
        width: 150px;
        background-color: $button-primary-color;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: .5s;
        border-radius: 5px;
    }
}

/*-----------------
CLASSES FOR JS
-------------------
*/
.show{
    opacity: 1;
}
/*-----------------
KEYFRAMES
-------------------
*/
@keyframes move1{
    0%{top: 0px;}
    50%{top: 15px;}
    100%{top: 0px;}
}
/*-----------------
MEDIA QUERIES
-------------------
*/
@media(max-width: 737px){
    #profile{
        & .row{
            display: block;

            & .column{
                //background: red;
                margin: 0 auto;
                width: 98%;
            }
        }
    }
    #toolbox{
        & .row{
            display: block;

            & img{
                display: block;
                margin: 0 auto $bottom-margin auto;
                width: 100%;
                padding: 15px;
                max-width: 300px;
            }
        }
    }
    #portfolio{
        & .row{
            display: block;

            & .flip-card{
                display: block;
                width: 100%;
                height: 500px;
                margin-bottom: $bottom-margin;
            }
        }
    }
}